PORT=3000
FRONTEND_ORIGIN=http://127.0.0.1:5500
JWT_SECRET=dive-booking-2026-9XkLmPqR7vTzA81Secret
DEMO_PASSWORD=1234

SUPABASE_URL=https://yhlzepgevuapdmagfxbz.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here

# Future LINE
LINE_CHANNEL_ACCESS_TOKEN=
LINE_TO_ID=
